<app-header2></app-header2>
<div id="mySidenav" class="sidenav">
    <a href="http://localhost:4200/#/nestudi1" id="about">Modulo1</a>
    <a href="http://localhost:4200/#/nestudi2" id="blog">Modulo2</a>
    <a href="http://localhost:4200/#/nestudi3" id="projects">Modulo3</a>

</div>

<!-- Section heading -->
<div class="text-center">
<div class="pimg1">
    <div class="ptext">
        <span class="border trans">
                Expresiones algebraicas
                    </span>
    </div>

    <p class="ptext1">******</p>

</div>

<br>


<!--Comienzo de Columna 1-->
<div class="row d-flex justify-content-center">
    <div class="feature-wrapper pt-5 pb-5 mt-5 mt-lg-0 ">
        <div class="container">
            <div class="row ">
                <!--  Comienzo de Primera Carta -->

                <div class="col-md-4 ">
                    <!--Satr Card-->
                    <div class="card default-color-dark">

                        <!--Card image-->
                        <div class="view">
                            <img src="../assets/images/background/monomios4.png" class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Unidad 1-->
                            <a href="#!" class="white-text">
                                <h6 class="h6 pb-1 white-text"><i class="fas fa-book-open pr-1"></i> (Unidad 3 Tema 1)</h6>
                            </a>
                            <!--Title-->
                            <h4 class="card-title white-text">Monomios semejantes</h4>
                            <!--Text-->
                            <p class="card-text white-text">Dos o más monomios son semejantes si sus factores literales son iguales; es decir, si tienen las mismas variables con sus respectivos exponentes iguales.</p>
                            <a [routerLink]="['/u3tema1']" class="btn btn-outline-white btn-md">Ver Tema</a>
                        </div>
                    </div>
                    <!--End Card-->
                </div>

                <!--  Final de Primera Carta -->

                <!--  Comienzo de Segunda Carta -->

                <div class="col-md-4 ">
                    <!--Satr Card-->
                    <div class="card primary-color-dark">

                        <!--Card image-->
                        <div class="view">
                            <img src="../assets/images/background/sumapolinomio.png" class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Unidad 1-->
                            <a href="#!" class="white-text">
                                <h6 class="h6 pb-1 white-text"><i class="fas fa-book-open pr-1"></i> (Unidad 3 Tema 2)</h6>
                            </a>
                            <!--Title-->
                            <h4 class="card-title white-text">Suma de Polinomios</h4>
                            <!--Text-->
                            <p class="card-text white-text">La suma de polinomios implica combinar términos. Términos similares los monomios que tienen la misma variable, o variables elevadas a la misma potencia.</p>
                            <a [routerLink]="['/u3tema2']" class="btn btn-outline-white btn-md">Ver Tema</a>
                        </div>
                    </div>
                    <!--End Card-->
                </div>
                <!--  Final de Segunda Carta -->

                <!--  Comienzo de Tercera Carta -->
                <div class="col-md-4 ">
                    <!--Satr Card-->
                    <div class="card warning-color-dark">

                        <!--Card image-->
                        <div class="view">
                            <img src="../assets/images/background/restapolinomio.png" class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Unidad 1-->
                            <a href="#!" class="white-text">
                                <h6 class="h6 pb-1 white-text"><i class="fas fa-book-open pr-1"></i> (Unidad 3 Tema 3)</h6>
                            </a>
                            <!--Title-->
                            <h4 class="card-title white-text">Resta de Polinomios</h4>
                            <!--Text-->
                            <p class="card-text white-text">Se reduce a sumar el primero con el opuesto del segundo. De esta manera se eliminan los paréntesis que encierran al multinomio que se resta.</p>
                            <a [routerLink]="['/u3tema3']" class="btn btn-outline-white btn-md">Ver Tema</a>
                        </div>
                    </div>
                    <!--End Card-->
                </div>
                <!--  Final de Tercera Carta -->
            </div>
        </div>
    </div>
</div>

<!-- Fin de la columna 1 -->

    <!-- Linea que divide las cartas-->
    <hr class="text-center hoverable p-0" style ="background-color: #ffffff00"style="max-width: 67rem;">

    <!-- Linea que divide las cartas-->
    <hr class="text-center hoverable p-0 primary-color-dark" style="max-width: 67rem;">

    <!---Titulo-->
    <h7 class="h4 mb-5 black-text">Operaciones básicas con polinomios</h7>

    <!-- Linea que divide las cartas-->
    <hr class="text-center hoverable p-0 primary-color-dark" style="max-width: 67rem;">

<!--Comienzo de la segunda Columna-->
<div class="row d-flex justify-content-center">
    <div class="feature-wrapper pt-5 pb-5 mt-5 mt-lg-0 ">
        <div class="container ">
            <div class="row ">
                <!--  Comienzo de Primera Carta -->

                <div class="col-md-4 ">
                    <!--Satr Card-->
                    <div class="card blue darken-3">

                        <!--Card image-->
                        <div class="view">
                            <img src="../assets/images/background/multiplicacionpolinomio.png" class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Unidad 1-->
                            <a href="#!" class="white-text">
                                <h6 class="h6 pb-1 white-text"><i class="fas fa-book-open pr-1"></i> (Unidad 3 Tema 4)</h6>
                            </a>
                            <!--Title-->
                            <h4 class="card-title white-text">Multiplicación de Polinomios</h4>
                            <!--Text-->
                            <p class="card-text white-text">La multiplicación de un número por un polinomio es otro polinomio que tiene de grado el mismo del polinomio y como coeficientes el producto de los coeficientes del polinomio por el número.</p>
                            <a [routerLink]="['/u3tema4']" class="btn btn-outline-white btn-md">Ver Tema</a>
                        </div>
                    </div>
                    <!--End Card-->
                </div>

                <!--  Final de Primera Carta -->


                <!--  Comienzo de Segunda Carta -->

                <div class="col-md-4 ">
                    <!--Satr Card-->
                    <div class="card secondary-color-dark">

                        <!--Card image-->
                        <div class="view">
                            <img src="../assets/images/background/divisionpolinomio.png" class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Unidad 1-->
                            <a href="#!" class="white-text">
                                <h6 class="h6 pb-1 white-text"><i class="fas fa-book-open pr-1"></i> (Unidad 3 Tema 5)</h6>
                            </a>
                            <!--Title-->
                            <h4 class="card-title white-text">División de Polinomios</h4>
                            <!--Text-->
                            <p class="card-text white-text">La división de polinomios es un algoritmo que permite dividir un polinomio por otro polinomio que no sea nulo. El algoritmo es una versión generalizada de la técnica aritmética de división larga.</p>
                            <a [routerLink]="['/u3tema5']" class="btn btn-outline-white btn-md">Ver Tema</a>
                        </div>
                    </div>
                    <!--End Card-->
                </div>
                <!--  Final de Segunda Carta -->



                <!--  Comienzo de Tercera Carta -->
                <div class="col-md-4 ">
                    <!--Satr Card-->
                    <div class="card red darken-3">

                        <!--Card image-->
                        <div class="view">
                            <img src="../assets/images/background/polinomiocompleto.png" class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Unidad 1-->
                            <a href="#!" class="white-text">
                                <h6 class="h6 pb-1 white-text"><i class="fas fa-book-open pr-1"></i> (Unidad 3 Tema 6)</h6>
                            </a>
                            <!--Title-->
                            <h4 class="card-title white-text"> Polinomios Completo </h4>
                            <!--Text-->
                            <p class="card-text white-text">Un polinomio completo tiene todos los términos desde el término independiente hasta el término de mayor grado. Un polinomio está ordenado si los monomios que lo forman están escritos de mayor a menor grado.</p>
                            <a [routerLink]="['/u3tema6']" class="btn btn-outline-white btn-md">Ver Tema</a>
                        </div>
                    </div>
                    <!--End Card-->
                </div>
                <!--  Final de Tercera Carta -->

            </div>
        </div>
    </div>
</div>
</div>
<br>
<app-footer></app-footer>