<app-header2></app-header2>


<div style="background-image:url(../assets/images/background/.jpeg);">

    <br>
    <div class="text-left container mt-2">

        <!--  -->
        <div class="" width="16px">
            <h2 class="card-title  text-xl-center">

                <strong>Conjunto de Números Irracionales</strong>

            </h2>
        </div>
        <br>
        <!-- -->
        <div class="shadow p-5 mb-5 bg-white rounded border border-primary" width="20px">
            <h4 class="card-title">Conjunto de números irracionales </h4>
            <hr>
            <p>
EL conjunto de los números irracionales se representa con el símbolo i y está formado por los números que no se pueden expresar como numero racional,
 ya que su parte decimal es infinita no periódica.
 En general la dificultad para diferenciar un número irracional de uno racional,
  u entero, es principalmente porque éste no puede reducirse a ninguna proporción
  entre un número entero o un número natural.
            </p>
        </div>

        <div class="shadow p-3 mb-5 bg-white rounded border border-primary" width="10x">
            <h2 class="card-title ">
                <strong>Ejemplos</strong>
            </h2>
            <hr>

            <!--  -->
            <div class="card-deck">

                <!-- Card -->
                <div class="card mb-4">
<strong>Numeros irracionales famosos</strong>
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="../assets/images/background/irracionales.jpeg" alt=" Card image cap ">
                        <a href="#! ">
                            <div class="mask rgba-white-slight "></div>
                        </a>
                    </div>

                </div>
                <!-- Card -->


                <!-- Card -->
                <div class="card mb-4 ">

                    <!--Card image-->
                    <div class="view overlay ">
                        <img class="card-img-top " src="../assets/images/background/irracionales2.jpeg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>


                </div>
                <!-- Card -->

            </div>
            <!-- Card deck -->



        </div>

        <!--  -->
        <div class="pagination pg-blue justify-content-center">
            <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/nestudi1']">Regresar</a></button>
            <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/u1tem1eje1']">Realizar Ejercicio</a></button>
        </div>

        <br>

    </div>




</div>
