<!-- Sidenav -->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <!--  Logo -->
        <a class="navbar-brand pt-0" href="./index.html">
            <img src="./assets/img/brand/S1.png" class="navbar-brand-img" alt="...">
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">

            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin']">
                        <i class=" fas fa-book-reader ni ni-tv-2 text-primary"></i> Administrador
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">
                        <i class="fas fa-book  ni ni-key-25 text-info"></i> Cerrar Sesion
                    </a>
                </li>
            </ul>

            <!-- Divider -->
            <hr class="my-3">
            <!-- FIN Divider -->


            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">

                        <li class="nav-small-cap">PERSONAL</li>

                        <!--  *ngFor="let menu of _sidebar.menu"  -->
                        <li>
                            <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu"> {{ menu.titulo }} <span class="label label-rouded label-themecolor pull-right"> {{ menu.submenu.length }} </span></span></a>
                            <ul aria-expanded="false" class="collapse">

                                <li>
                                    <a routerLinkActive="active" [routerLink]="[ submenu.url ]"> {{ submenu.titulo }} </a>
                                </li>

                                <!-- <li><a href="index2.html">Analytical</a></li>
                        <li><a href="index3.html">Demographical</a></li>
                        <li><a href="index4.html">Modern</a></li> -->
                            </ul>
                        </li>


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->

        </div>
    </div>
</nav>