<app-header2></app-header2>
<body background="../assets/images/background/p6.jpg">
    <br>
    <!--Comienzo del Tema-->
     <!-- Carta Principal Horizontal-->
     <div class="row d-flex justify-content-center ">
            <!-- News jumbotron -->
            <div class="jumbotron text-center blue-grey lighten-5" style="max-width: 60rem;">

            <!-- Subtitle -->
            <h2 class="purple-text my-4 font-weight-bold"><i class="fas fa-cubes pr-1"></i>Tema 2</h2>
    
            <!-- Title del tema-->
            <h3 class="card-title h3">Adición de numeros reales</h3>


            <!-- Grid row -->
            <div class="row d-flex justify-content-center">

            <!-- Grid column -->
            <div class="col-xl-10 pb-2">
              <p class="card-text text-justify">En la adición de números reales, los términos que intervienen son los sumandos y el resultado, donde el orden de los sumandos no altera el resultado.</p>
              <p class="text-center"><b>a + b = b + a</b></p>
              <br>
              <p class="card-text text-justify">al ser, los números reales, un conjunto que incluye los números negativos, la suma de negativos es posible, sin tener que recurrir a otro conjunto de números. Entonces, las sumas se pueden realizar como:</p>
              <br>
              <p class="text-center"><b>a + (-b) = (-b) + a = -b + a</b></p>
              <br>
              <p class="card-text text-justify">Por ejemplo, podemos tomar los dos sumandos, 7 y −11. El orden de estos, al sumarlos, no va a alterar el resultado, ya que se trata al sumando como un término en su valor absoluto. Pero si se lo tomara por su valor relativo, no se podría sumar 7+11 o 11+7 y esperar el mismo resultado que:</p>
              <br>
              <p class="text-center"><b>7 + (-11) = -11 + 7 = -4</b></p>
              <br>
              <br>
              <!-- Title del tema-->
              <h3 class="card-title h3">Sustracción de numeros reales</h3>
              <p class="card-text text-justify">A pesar de que todas las operaciones de sustracción de números reales pueden ser expresadas como sumas, como se podía ver en el ejemplo anterior, también en la sustracción existen reglas para evitar confusiones. Pues, los términos que intervienen en esta operación, son el sustraendo, el minuendo y el resultado. El sustraendo siempre va primero, el minuendo va siempre después, logrando que el orden de los términos si acabe por afectar al resultado.</p>
              <br>
              <p class="text-center"><b>a - b ≠ b - a</b></p>
              <br>
              <p class="card-text text-justify">Donde a + (−b) si es igual a (−b) + a. Por lo cual, para poder cambiar de orden a los términos de una resta, se debe usar el inverso aditivo o el negativo del sustraendo para que de esta manera no se vaya a alterar el resultado.</p>
            </div>
            <!-- Grid column -->

        <!--Ejemplos-->
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">

                <!-- Grid column -->
                <div class="col-md-4 col-xl-3 mb-4">
                    <!--Featured image-->
    
    
                    <!-- Card Dark -->
                    <div class="card">
    
                        <!-- Card image -->
                        <div class="view overlay">
                            <a>
                                <div class="mask sunny-morning-gradient
                            "></div>
                            </a>
                        </div>
                        
                    </div>
    
    
                </div>
                <!-- Grid column -->
            <div class="col-xl-10 pb-2">
                <p class="card-text">..............................................................................................................................................</p>
            </div>
    
            </div>
            <!-- Grid row -->
            <!--Fin de Ejemplos-->



             </div>
            <!-- Grid row -->

                <!--Botones-->
                 <div class="pagination pg-blue justify-content-center">
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/nestudi1']">Regresar</a></button>
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/u1tem2eje1']">Realizar Ejercicio</a></button>
            </div>

            </div>
                <!-- Grid row -->
            </div>
              <!-- News jumbotron -->
    
    <!--Final del Tema-->
</body>