<app-header2></app-header2>
<!--  Comienzo de Parallax -->
<div class="pimg1">
    <div class="ptext">
        <span class="border trans">
                Disfruta de las matemáticas
            </span>
    </div>
</div>
<!--  Fin de Parallax -->


<div class="feature-wrapper  pt-5 pb-5 mt-5 mt-lg-0">
    <div class="container">
        <div class="row ">
            <!--  Comienzo de Primera Carta -->

            <div class="col-md-4 ">
                <!--Card-->
                <div class="card card-cascade wider">

                    <!--Card image-->
                    <div class=" view view-cascade overlay waves-light white-text " mdbWavesEffect>
                        <img class="card-img-top" src="../assets/images/background/15.png" alt="Card image cap">
                        <!-- <mdb-card-img src="../assets/images/background/p2.jpg " class="img-fluid"></mdb-card-img> -->
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/Card image-->

                    <div class="card-body card-body-cascade rgba-indigo-strong text-center">
                        <!-- <mdb-card-body cascade="true " class="text-center peach-gradient white-tex ">  -->
                        <!--Card content-->
                        <h4 class="pink-text card-title  white-text ">
                            <i class="fas  fa-address-book"></i> Unidad 1</h4>

                        <hr class="hr-light ">

                        <p class="card-text white-text">En matemáticas, el conjunto de los números reales incluye tanto a los números racionales como a los números irracionales;​ y en otro enfoque, trascendentes y algebraicos.</p>


                        <a href="#! " class="white-text justify-content-end ">

                            <a href="http://localhost:4200/#/nestudi1 " class="btn btn-rounded btn-md ">Ver más</a>
                            <span>
                                                <i class="pl-2 waves-light " mdbWavesEffect></i>
                                              </span>

                        </a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>

            <!--  Final de Primera Carta -->

            <!--  Comienzo de Segunda Carta -->

            <div class="col-md-4 ">
                <!--Card-->
                <div class="view view-cascade overlay">
                    <!--Card image-->
                    <div class="view view-cascade overlay waves-light " mdbWavesEffect>
                        <img class="card-img-top" src="../assets/images/background/16.png" alt="Card image cap">
                        <!-- <mdb-card-img src="../assets/images/background/p4.jpg"></mdb-card-img> -->

                    </div>
                    <!--/Card image-->
                    <div class="card-body card-body-cascade info-color-dark text-center">

                        <!--Card content-->
                        <h4 class="pink-text white-text ">
                            <i class="fas  fa-address-book"></i> Unidad 2</h4>

                        <hr class="hr-light">

                        <p class="card-text white-text">Es una operación matemática entre dos términos denominados: base a y exponente n. Se escribe aⁿ y se lee normalmente como «a elevado a la n».</p>

                        <a href="http://localhost:4200/#/nestudi2" class="btn btn-rounded btn-md white-text">Ver más</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>

            <!--  Final de Segunda Carta -->

            <!--  Comienzo de Tercera Carta -->

            <div class="col-md-4">
                <!--Card-->
                <div class="card card-cascade wider">

                    <!--Card image-->
                    
                        <img class="card-img-top" src="../assets/images/background/17.png" alt="Card image cap">


                        <a>
                            <div class="mask rgba-white-slight "></div>
                        </a>
                    
                    <!--/Card image-->
                    <div class="card-body card-body-cascade teal accent-4 text-center">
                        <!--Card content-->
                        <h4 class="pink-text card-title  white-text ">
                            <i class="fas  fa-address-book"></i> Unidad 3</h4>

                        <hr class="hr-light ">

                        <p class="card-text white-text">Es la combinación de letras, números y signos de operaciones. Las letras suelen representar cantidades desconocidas y se denominan variables o incógnitas.</p>

                        <a href="#! " class="white-text justify-content-end ">

                            <a href="http://localhost:4200/#/nestudi3" class="btn btn-rounded btn-md ">Ver más</a>
                            <span>
                                            <i class="pl-2 waves-light " mdbWavesEffect></i>
                                          </span>

                        </a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>

            <!--  Final de Tercera Carta -->

        </div>
    </div>
</div>
<app-footer></app-footer>
