<body background="../assets/images/background/p6.jpg">
<br>
    <!--Escoger la mejor Opcion-->
    <br>
    <div class="text-left  container mt-2">

        <!--Inicio de Carta-->
        <div class="shadow  bg-light mb-3 p-5 mb-5 bg-white rounded" width="20px">
        <!--Tema de la Unidad-->
        <div class="" width="16px">
                <h2 class="card-title   text-xl-center">
                    <strong>Ejercicio #2</strong>
                </h2>
            </div>
            <br>
            <!-- Subtitle -->
            <h4 class="indigo-text my-4 font-weight-bold"><i class="fas fa-tasks pr-1"></i>Conteste las siguientes Preguntas</h4>
            <hr class="text-center hoverable p-0 info-color-dark" style="max-width: 67rem;">
            <h4>¿Cual es el resultado de 4 + (-5) ?</h4>
            <br>
                    <!--Listado de Respuestas-->
        <div class="shadow p-5 mb-5 bg-white rounded border border-info">

            <ul class="grupo-lista ">

                <li class="list-group-item border border-info">

                    <div class="respuesta">

                    </div>

                    <button [ngClass]="{'active': a}" (click)="activate('t1')" class="btn btn-primary">
                        A 
                    </button>

                    <!-- Pregunta -->
                    <i class="far  mr-3">  
                    </i> -1
                </li>
                <li class="list-group-item border border-info">
                    <div class="respuesta">

                    </div>

                    <button [ngClass]="{'active': b}" (click)="activate('t2')" class="btn btn-primary">
                            B
                        </button>
                    <i class="far  mr-3">  
                            </i> -9

                </li>
                <li class="list-group-item border border-info">
                    <div class="respuesta">

                    </div>
                    <button [ngClass]="{'active': c}" (click)="activate('t3')" class="btn btn-primary ">
                            C
                    </button>
                    <i class="far  mr-3">  
                        </i> 1
                </li>
                <li class="list-group-item border border-info">
                    <div class="respuesta">

                    </div>
                    <button [ngClass]="{'active': d}" (click)="activate('t4')" class="btn btn-primary ">
                            D 
                        </button>

                    <!-- Pregunta -->
                    <i class="far  mr-3">  
                        </i> 9
                </li>

            </ul>


        </div>

 <!--Fin de Listado de Respuestas-->

        <!--Botones-->
        <div class="pagination pg-blue justify-content-center">
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a>Siguiente</a></button>
            </div>
    
            </div>
            <!--Fin de carta-->
            <br>
    
        </div>
        <!--Fin de Escoger la mejor Opcion-->
    </body>
    <app-footer></app-footer>