<app-header2></app-header2>
<body background="../assets/images/background/p6.jpg">
    <br>
    <!--Comienzo del Tema-->
     <!-- Carta Principal Horizontal-->
     <div class="row d-flex justify-content-center ">
            <!-- News jumbotron -->
            <div class="jumbotron text-center blue-grey lighten-5" style="max-width: 60rem;">

            <!-- Subtitle -->
            <h2 class="bg-primary text-white font-weight-bold"><i class="fas fa-plus-circle pr-1"></i>Tema 2</h2>
    
            <!-- Title del tema-->
            <h3 class="card-title h3">Suma de Polinomios</h3>

            <!-- Grid row -->
            <div class="row d-flex justify-content-center">
              
            <!-- Grid column -->
            <div class="col-xl-10 pb-2">
              <p class="card-text text-justify">Sumar polinomios consiste en tener dos o más polinomios e identificar sus términos semejantes para luego agruparlos, sumarlos y conseguir un sólo polinomio. La adición de polinomios se realiza sumando sólo términos semejantes, por lo que es necesario reconocer dichos términos.</p><br>
              <p class="card-text text-justify">La suma se puede hacer de dos formas distintas: en horizontal y en vertical. Vamos a ver las dos maneras, y después puedes elegir cuál te resulta más fácil para utilizar.</p>
              <br>
              <h4 class="card-text text-justify"><u>Suma de polinomios en horizontal</u></h4>
              <br>
              <p class="card-text text-justify">Para hacer las operaciones en horizontal primero escribimos un polinomio y seguido en la misma línea escribimos el otro que vamos a sumar o restar. Después, <b>agrupamos términos semejantes.</b></p>
              <br>
              <p class="card-text text-justify"><b>Ejemplo:</b></p>
              <!--Ejemplos 1-->
              <img src="../assets/images/background/polinomios_1.png" alt="producto">
              <!--Fin de Ejemplos 1-->
              <br>
              <p class="card-text text-justify">Vamos a realizar la suma. Para ello escribimos cada uno rodeado de paréntesis y con el signo de la suma entre ellos.</p>
              <!--Ejemplos 2-->
              <img src="../assets/images/background/polinomio_2.png" alt="producto">
              <!--Fin de Ejemplos 2-->
              <br>
              <p class="card-text text-justify">Fíjate en los términos que son semejantes entre los dos polinomios. No podemos sumar dos términos que tienen distinto grado, solo podemos agrupar los que sean semejantes y después sumar. En la siguiente imagen están identificados los los términos semejantes rodeados con el mismo color.</p>
              <!--Ejemplos 3-->
              <img src="../assets/images/background/polinomios_3.png" alt="producto">
              <!--Fin de Ejemplos 3-->
              <p class="card-text text-justify">Igual que hemos hecho con el término de grado 2, debemos sumar los términos de grado 1 y los términos de grado 0. El resultado de la suma es:</p>
              <br>
              <!--Ejemplos 4-->
              <img src="../assets/images/background/polinomios_4.png" alt="producto">
              <!--Fin de Ejemplos 4-->
              <br>
              <br>
              <h4 class="card-text text-justify"><u>Suma de polinomios en vertical</u></h4>
              <br>
              <p class="card-text text-justify">Para hacer las sumas en vertical debemos escribir el primer polinomio ordenado. En el caso de que sea incompleto es conveniente dejar los huecos libres de los términos que falten. Después, escribimos el siguiente polinomio debajo del anterior, de manera que coincida justo debajo el término semejante al de arriba. Después, ya podemos <b>sumar cada columna.</b></p>
              <br>
              <p class="card-text text-justify"><b>Ejemplo:</b></p>
              <br>
              <p class="card-text text-justify">Vamos a ver la suma en vertical con los dos polinomios del ejemplo anterior.</p>
              <!--Ejemplos 1-->
              <img src="../assets/images/background/polinomios_1.png" alt="producto">
              <!--Fin de Ejemplos 1-->
              <br>
              <p class="card-text text-justify">Fíjate en el primer polinomio. Hay que escribirlo ordenado y ver si está completo. En este caso falta el término de grado 3, entonces debemos dejar el hueco correspondiente o escribir un cero en su lugar.</p>
              <!--Ejemplos 2-->
              <img src="../assets/images/background/polinomios_5.png" alt="producto">
              <!--Fin de Ejemplos 2-->
              <br>
              <p class="card-text text-justify">Ahora escribimos el segundo debajo del primero, de manera que coincidan los términos semejantes uno debajo de otro.</p>
              <!--Ejemplos 3-->
              <img src="../assets/images/background/polinomios_6.png" alt="producto">
              <!--Fin de Ejemplos 3-->
              <p class="card-text text-justify">Solo queda sumar cada columna, es decir,  sumar los términos semejantes.</p>
              <!--Ejemplos 4-->
              <img src="../assets/images/background/polinomios_7.png" alt="producto">
              <!--Fin de Ejemplos 4-->
            </div>
            <!-- Grid column -->
             </div>
            <!-- Grid row -->

                <!--Botones-->
                 <div class="pagination pg-blue justify-content-center">
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/nestudi1']">Regresar</a></button>
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/u1tem2eje1']">Realizar Ejercicio</a></button>
            </div>

            </div>
                <!-- Grid row -->
            </div>
              <!-- News jumbotron -->
    
    <!--Final del Tema-->
</body>