<div class="fondo-negro animated fadeIn oculto1  " [class.oculto1]="oculto">

    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear clase</h5>

                    <button (click)="oculto='oculto1'" type="button" class="close">
                      {{oculto}}
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <h1>{{oculto}}</h1>



                    <div class="row">


                        <div class="col-md-12">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <!-- #F ES UNA REFERENCIA LOCAL -->
                                        <form>
                                            <!-- implementamos este metodo en el medico.components -->
                                            <div class="form-group">
                                                <label>ID</label>
                                                <!-- el ngmodel va a modificar la propiedad directamente del medico.nombre-->
                                                <!-- y el nombre es para resivirlo en el formulario -->
                                                <input name="nombre" type="text" class="form-control" placeholder="Nombre del Medico" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Nombre de Clase</label>
                                                <!-- el ngmodel va a modificar la propiedad directamente del medico.nombre-->
                                                <!-- y el nombre es para resivirlo en el formulario -->
                                                <input name="nombre" type="text" class="form-control" placeholder="Nombre del Medico" required>
                                            </div>
                                            <div class="form-group">
                                                <option value="">Seleccione Profesor</option>

                                                <!-- *ngFor="let hospital of hospitales" [value]="hospital._id" -->
                                                <option value="Profesores">

                                                    <!-- {{profesores.nombre}}  -->

                                                </option>
                                            </div>

                                            <p class="font-italic text-danger">
                                                * Todos los campos de esta sessión son obligatorios..
                                            </p>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>








                </div>
                <div class="modal-footer">
                    <button (click)="oculto='oculto1'" type="button" class="btn btn-secondary">Cerrar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


</div>