<br>
<div class="text-left container mt-2">

    <!-- <h3>*** FORMULARIO PARA USO DE LOS PARTICIPANTES EN LOS CONCURSOS FORMALES ***</h3> -->

    <!-- Titulo -->
    <div class="shadow p-5 mb-5 bg-white rounded" width="16px">
        <h2 class="card-title">
            <strong>Registro del Profesor</strong>

        </h2>
        <hr>
    </div>
    <!-- Datos Generales -->
    <div class="shadow p-5 mb-5 bg-white rounded" width="20px">
        <h4 class="card-title">Datos Generales</h4>
        <hr>
        <!-- Datos generales internos -->
        <form class="">
            <!-- Fila 1 -->
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Nombre</label>
  
                    <input type="text" class="form-control" required>


                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Apellido</label>
                    <input type="text" class="form-control" required>

                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltipUsername">Cédula</label>
                    <input type="text" class="form-control" aria-describedby="validationTooltipUsernamePrepend" required>

                </div>
            </div>


            <!-- Fila 2 -->
            <div class="form-row">

                <div class="col-md-2 mb-2">
                    <label for="validationTooltip07">Sexo:</label>
                    <div class="custom-control custom-radio mb-2">
                        <input name="custom-radio-2" class="custom-control-input" id="customRadio5" type="radio">
                        <label class="custom-control-label" for="customRadio5">Hombre</label>
                    </div>

                    <div class="custom-control custom-radio mb-2">
                        <input name="custom-radio-2" class="custom-control-input" id="customRadio6" checked="" type="radio">
                        <label class="custom-control-label" for="customRadio6">Mujer</label>
                    </div>

                </div>


                <div class="col-md-6 mb-2">
                    <label for="validationTooltip07">Dirección</label>
                    <input type="text" class="form-control" id="validationTooltip05" required>

                </div>

            </div>






            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Correo</label>
                    <input type="text" class="form-control" required>

                </div>


                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Celular</label>
                    <input type="text" class="form-control" required>

                </div>
            </div>
        </form>


    </div>


    <div class="shadow p-5 mb-5 bg-white rounded " width="20px">
        <form class="">
            <h4 class="card-title">Credenciales</h4>
            <hr>
            <!-- Fila 1 -->
            <div class="form-row justify-content-center">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Usuario</label>
                    <input type="text" class="form-control" id="validationTooltip01" required>

                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Contraseña</label>
                    <input type="text" class="form-control" id="validationTooltip02" required>

                </div>

            </div>

        </form>


    </div>



    <!-- Boton Inserta datos -->
    <div class=" p-3 mb-5 bg-white rounded nav justify-content-center ">
        <button routerLink='/admin' type="button " class="btn btn-success bbtn btn-lg ">Aceptar</button>
        <button routerLink='/admin' type="button " class="btn btn-success bbtn btn-lg ">Cancelar</button>
    </div>

</div>
