.respuesta {
    position: absolute;
    border-left: 1px solid rgba(0, 0, 0, .160);
    height: 83px;
    top: 0px;
    left: 115px;
    cursor: pointer;
}

.respuesta li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.list-group-item:hover {
    color: #EBF1F1;
    background-color: #48D1CC;
    text-decoration: none;
}

.btn-primary:active {
    text-decoration: none;
    background-color: rgb(216, 20, 167);
}

p {
    margin-top: 0;
    margin-bottom: var(--box-y-padding);
    line-height: 1.5;
    font-size: 1.25em;
  }

  li{
      font-size: 1.30em;
  }