<!-- Header -->
<div class="pimg1">
    <div class="ptext">
        <span class="border trans bg-primary mb-3">
                      Gestion de Usuarios
                     <!-- Toggler -->
    
        </span>

        <br>
        <br>

        <span class="">
           <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>


        </span>


    </div>
</div>
<br>
<!--  Tarjetas del profesor   -->