<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg sunny-morning-gradient" [containerInside]="false">

    <!-- Just an image -->

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="http://localhost:4200/#/estudiante">
            <img src="../assets/images/background/S2.png" width=100 height=40 alt="">
        </a>
        <button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Calificaciones</button>

    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <i class="fas fa-user"></i>{{usuarios.nombre}}
                    <span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">

                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"> Cerrar sesión</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
